.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.workablediv {
  border: 1px dashed black;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdiv {
  height: 200px;
  margin-bottom: 30px;
}

.droppedfilesdiv {
  align-items: flex-start;
  height: auto;
  box-sizing: border-box;
  font-size: 12px;
}

.droppedelement {
}

.statusdiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

h3 {
  font-size: 0.8rem;
}

.success {
  color: #32cd32;
}

.failure {
  color: red;
}
